@font-face {
    font-family: dogBone ;
    src: url(../KsWelshTerrierHideNRegular-7B0jw.ttf);
}
  body{
    background-color: black;
    font-family: dogBone;
  }
  h1{
    color: white;
    text-align: center;
  }
  h2{
    color: white;
    text-align: center;
  }
  button{
    width: 150px
  }
  .randomDog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
 .dog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.card {
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background: #f8f8f8;
}
.dog-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.dog-breed {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}